<!-- Recipe name -->
<div class="grid-100 row controls">
  <div class="grid-80">
    <h2>Your Recipe: {{recipe.name}}</h2>
  </div>
</div>
<div class="clear"></div>

<!-- Recipe preparation and cooking time -->
<div class="grid-100 row">
	<div class="grid-80">
		<h3>Preparation time: <small>{{recipe.prepTime}}</small></h3> 
		<h3>Cooking time: <small>{{recipe.cookTime}}</small></h3> 
	</div>
</div>
<div class="clear"></div>

<!-- Recipe category and description -->
<div class="grid-100 row">
	<div class="grid-80">
		<h3>Category: <small>{{recipe.category}}</small></h3> 
		<h3>Description: <small>{{recipe.description}}</small></h3> 
	</div>
</div>
<div class="clear"></div>

<!-- Recipe list of ingredients -->
<div class="grid-100 row">
	<div class="grid-80">
		<h3>List of ingredients:</h3> 
		<ul>
			<li
			ng-repeat="ingredient in recipe.ingredients">
				<em>Food items: {{ingredient.foodItem}}</em>
				<br>
				<em>Condition: {{ingredient.condition}}</em>
				<br>
				<em>Amount: {{ingredient.amount}}</em>
				<br>
				<hr>
			</li>
		</ul>
	</div>
</div>
<div class="clear"></div>

<!-- Recipe steps -->
<div class="grid-100 row">
	<div class="grid-80">
		<h3>Steps:</h3> 
		<ul>
			<li
			ng-repeat="step in recipe.steps">
				<em>Step description:</em> {{step.description}}
			</li>
		</ul>
	</div>
</div>
<div class="clear"></div>