<div class="grid-100 row controls">
  <div class="grid-30">
    <select ng-model="currentCategory" ng-options="category.name for category in categories" ng-change="filterRecipeByCategory()">
      <option value="">All Categories</option>
    </select>
  </div>
  <div class="grid-70">
    <div class="flush-right">
      <button 
				ng-click="addRecipe()">
				+ Add Recipe
			</button>
    </div>
  </div>
</div>
<div class="clear"></div>

<!-- When there are no recipes for the existing category -->	
<div ng-show="noRecipeFromFilter()" class="grid-100 row">
  <div class="grid-70">
    <p>No recipes found!</p>
  </div>
</div>


<div
  class="grid-100 row addHover"
  ng-repeat="recipe in recipes">
  <a
    ng-href="/#!/recipe/{{recipe._id}}">
    <div class="grid-70">
      <p>
          {{recipe.name}}
          <br>
          {{recipe.description}}
      </p>
    </div>
  </a>
  <div class="hoverBlock">
    <div class="grid-30">
      <div class="flush-right">
        <p>
          <a
            ng-href="/#!/edit/{{recipe._id}}">
            <img src="images/edit.svg" height="12px">
            Edit
          </a>
          <a
            class="no-action-link"
            ng-href="/#!/delete/{{recipe._id}}">
            <img src="images/delete.svg" height="12px">
            Delete
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
